@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


/* menu-area */
.menu-area .menu-list {display: flex; align-items: center; justify-content: center; background: #33afe9;}
.menu-area .menu-list li {list-style: none; display: flex; justify-content: center; box-sizing: border-box;}

.menu-area .menu-list li a {display: block; padding: 15px 40px; text-decoration: none; color: #fff; margin-right: 50px;}
.menu-area .menu-list li a:hover {color: #dadada; font-weight: 600;}




/* product-list */
.product-list {margin-top: 20px;/*  text-align: center; */}
.product-list .product-img {text-align: center;}
.product-list .product-img img {
  width: auto;
  height: 380px;
}
.product-list .title {font-weight: 800; margin-top: 10px;}
.product-list .price {font-weight: 600;}
.product-list .title, .product-list .price, .product-list .genre, .product-list .writer {margin-left: 25px;}



/* list-detail */
.list-detail .listdetail-img {text-align: center;}
.list-detail .listdetail-img img {width: auto; height: 770px; margin-top: 20px;}

.detail-info {margin-top: 50px; font-size: 20px;}
.detail-info div {margin-bottom: 10px ;}
.detail-info .title {font-weight: 800; font-size: 30px;}